{
    "presets": [
      [
        "@babel/preset-env",
        {
          // leave imports as they are
          "modules": false,
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": [
      // support dynamic import syntax, but leave it unchanged
      "babel-plugin-syntax-dynamic-import"
    ]
  }